<!doctype html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body class="homepage">
    <div class="page-container">

      <p>Welcome to your APP, a place to share inspirational, funny, and absurd quotes</p>
    </div>
  </body>
</html>
