    <% include ./partials/header %>

    <div class="page-container">

      <h1>WELCOME TO HOTELMATE</h1>
      <a href = '/guests/new'><button class 'button'>New Reservation</button></a>
      <a href = '/guests'><button class 'button'>All Reservation</button></a>
    </div>

<% include ./partials/footer %>
