    <% include ./partials/header %>

    <div class="page-container">

      <h1>WELCOME TO HOTELMATE</h1>
      <button class 'button'>New Reservation</button>
      <button class 'button'>Edit Reservation</button>
      <button class 'button'>Delete Reservation</button>

    </div>

<% include ./partials/footer %>
