body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-decoration: none;
}

li{
  text-decoration: none;
  list-style: none;
  display: inline;
}

a{
  display: inline;
}

#dropdown{
  max-height: 15%
}

.my-modal {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1000ms linear;
}

.my-modal.modal-active {
    visibility: visible;
    opacity: 1;
}
