body {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  background: whitesmoke;
  min-height: 100vh;
  flex: 1;
  overflow: visible;
}

.nav-link {
  /* text-decoration: none; */
  /* list-style: none; */
  /* margin-left: 25px; */
  color: whitesmoke !important;
  /* width: 100%; */
  /* font-size: 20px; */
  font-family: "Comfortaa", cursive;
}

li:hover {
  color: lightgrey !important;

}

.navbar-brand {
  color: whitesmoke !important;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  /* font-size: 75px; */
}
.navbar-brand:hover {
  color: lightgrey !important;
  font-family: "Comfortaa", cursive;
  font-weight: 700;

}

#dropdown {
  max-height: 15%;
}

nav {
  background: seagreen;

  margin-bottom: 4%;
  align-content: center;
  justify-content: space-between;

}
.bg-light{
    background: seagreen !important;
}


a {
  font-family: Roboto;
  color: black;
}

a:hover {
  text-decoration: none;
  color: seagreen;
}

.guest-actions {
  padding-bottom: 3%;
  flex: 1 0 auto;
}

h1 {
  align-content: center;
  justify-content: center;
}

footer {
  margin-top: auto;
  flex-shrink: 0;
  background: black;
  color: seagreen;
  width: 100%;
  height: 100px;
}

h2 {
  font-family: "Comfortaa", cursive;
  padding-bottom: 1%;
  font-size: 35px;
}

h3 {
  font-family: "Comfortaa", cursive;
  font-size: 25px;
}
p {
  font-family: Roboto;
  font-size: 18px;
}

footer > p {
  font-family: Roboto;
  font-size: 18px;
  padding-top: 2%;
}

.guest-wrapper {
  padding-bottom: 5%;
}

input {
  border: 1px seagreen solid;
  color: seagreen;
  font-family: "Comfortaa", cursive;

}

label {
  color: seagreen;
  font-family: Roboto;
  align-content: flex-start;
  margin-right: 2%;
  font-size: 20px;
}

select {
  border: 1px seagreen solid;
  font-family: "Comfortaa", cursive;
  width: 70px;
}

[type="submit"] {
  margin-top: 1%;
  color: whitesmoke;
  background: seagreen;
  border: none;
  margin-bottom: 3%;
}

.btn-secondary {
  background: seagreen;
  border: none;
  margin-bottom: 15px;
}

button > a {
  color: white;
}

button > a:hover {
  color: white;
  text-decoration: none;
}
  nav>ul{
    margin-right: 85px;
    margin-top: 55px;
  }

  @media screen and (min-width: 450px){
    label{
      font-size: 10px;
    }
  }
