body {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  background: whitesmoke;
  min-height: 100vh;
  flex: 1;
  overflow: visible;
}

li {
  text-decoration: none;
  list-style: none;
  margin-left: 25px;
  color: whitesmoke;
  width: 100%;
  font-size: 20px;
  font-family: "Comfortaa", cursive;
}

li:hover {
  text-decoration: none;
  list-style: none;
  margin-left: 25px;
  color: lightgrey;
  width: 100%;
  font-size: 20px;
}

#logo {
  justify-content: flex-start;
  color: whitesmoke;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 75px;
  padding-top: 1%;
}
#logo:hover {
  justify-content: flex-start;
  color: lightgrey;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 75px;
  text-decoration: none;
}

#dropdown {
  max-height: 15%;
}

nav {
  display: flex;
  background: seagreen;
  height: 150px;
  width: 100%;
  margin-bottom: 4%;
  align-content: center;
  justify-content: space-between;
  padding: 0 5%;
}

ul {
  display: flex;
  margin: 4% 0;
}

a {
  font-family: Roboto;
  color: black;
}

a:hover {
  text-decoration: none;
  color: seagreen;
}

.guest-actions {
  padding-bottom: 3%;
  flex: 1 0 auto;
}

h1 {
  align-content: center;
  justify-content: center;
}

footer {
  margin-top: auto;
  flex-shrink: 0;
  background: black;
  color: seagreen;
  width: 100%;
  height: 100px;
}

h2 {
  font-family: "Comfortaa", cursive;
  padding-bottom: 1%;
  font-size: 35px;
}

h3 {
  font-family: "Comfortaa", cursive;
  font-size: 25px;
}
p {
  font-family: Roboto;
  font-size: 18px;
}

footer > p {
  font-family: Roboto;
  font-size: 18px;
  padding-top: 2%;
}

.guest-wrapper {
  padding-bottom: 5%;
}

input {
  border: 1px seagreen solid;
  color: seagreen;
}

label {
  color: seagreen;
  font-family: Roboto;
  align-content: flex-start;
  margin-right: 2%;
  font-size: 20px;
}

select {
  border: 1px seagreen solid;
}

[type="submit"] {
  margin-top: 1%;
  color: whitesmoke;
  background: seagreen;
  border: none;
  margin-bottom: 3%;
}

.btn-primary {
  text-align: center;
  background: seagreen;
  margin: auto;
  border: none;
  /* margin-bottom: 5%; */
  display: inline;
  font-size: 20px;
  padding: 4% 13%;
  font-weight: 400;
  /* font-size: 20px; */
  border-radius: 0.25rem;
}

#button-wrapper > ul > li:nth-child(1) {
  margin: 0 -7%;
}
#button-wrapper > ul > li:nth-child(2) {
  margin: 0;
  /* padding: 2% 1%; */
}

#button-wrapper {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

button > a {
  color: white;
}

button > a:hover {
  color: white;
  text-decoration: none;
}
  nav>ul{
    margin-right: 85px;
    margin-top: 55px;
  }
@media screen and (max-width: 900px) {
  nav {
    height: 100px;
  }
  #logo {
    font-size: 25px;
    padding-top: 4%;
  }

  #logo:hover {
    font-size: 25px;
    padding-top: 4%;
  }

  li {
    font-size: 15px;
    padding-top: 10px;
  }

  li:hover {
    font-size: 15px;
    padding-top: 8.5%;
  }

  h3 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
    nav>ul{
    margin-right: 75px;
    margin-top: 4.5%;
  }
}

@media screen and (max-width: 600px) {
  body{
    max-width: 100%;
  }

  nav {
    height: 100px;
    width: 100%;
  }
  #logo {
    font-size: 25px;
    padding-top: 5%;
  }

  #logo:hover {
    font-size: 25px;
    padding-top: 5%;
  }

  li {
    font-size: 15px;
    padding-top: 9.5%;
  }



  h3 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
     nav>ul{
    margin-right: 75px;
    /* margin-top: 4.5%; */
  }
}

@media screen and (max-width: 450px) {
body{
  text-align: center;
}
.guest-wrapper{
  text-align: center;
  padding: 0 -25px;
}
h2{
font-size: 25px;
padding-bottom: 25px;
  }

  h3{
    font-size: 15px;
  }

  p{
    font-size:12px;
  }

  a{
    font-size: 10px;
  }

  nav {
    height: 75px;
    width: 85%;
    box-sizing: content-box;
  }
  #logo {
    font-size: 20px;
    padding-top: 6%;
  }
   nav>ul{
    margin-right: 30px;
    }

  li{
    font-size :7px;
    margin-left: 25px;

  }

  body > nav > ul {
     /* margin-right: 45%; */
     /* padding-right: 15px; */
    margin-top: 9%;
  }

  li:hover{
    font-size :10px;
  }

  nav>ul{
    margin-right: 45px;
    margin-top: 6.5%;
  }

  h3 {
    font-size: 20px;
  }

  footer {
    height: 50px;
    box-sizing: content-box;
    width: 100%;

  }
  footer > p {
    font-size: 10px;
    padding-top: 5%;
  }
  .btn-primary {
  text-align: center;
  background: seagreen;
  margin: auto;
  border: none;
  /* margin-bottom: 5%; */
  display: inline;
  font-size: 10px;
  font-weight: 400;
  /* font-size: 20px; */
  border-radius: 0.25rem;
}
#button-wrapper > ul > li:nth-child(1) {
  margin: 0 -35%;
}
#button-wrapper > ul > li:nth-child(2) {
  margin: 0;
  /* padding: 2% 1%; */
}

#button-wrapper {
  width: 50%;
  margin: auto;
  text-align: center;
}
}
